.order_card{
  background-color:#c4f3fa;
  border-radius: 15px;
}
.V-button{
  background-color: rgb(3, 211, 3)
}
.x-button{
  background-color: rgb(211, 3, 3);
}
.my-hr{
  color: rgb(0, 0, 0);

}

.ordered_card{
  background-color: #EDF8FA;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px;
  // rounded-4 bg-light px-2 py-3 my-2

}
