<div class="top-restaurant-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path restaurant.image.key, height: 300, crop: :fill %>');">
  <%= link_to restaurant_path(restaurant), class: "text-decoration-none text-white restoname text-white ps-3" do %>
    <%= restaurant.name %>
     <p class= "mb-0"><%= current_user.email.capitalize.split("@")[0] %></p>
  <% end %>
</div>
