<div class="top-restaurant-banner" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= cl_image_path restaurant.image.key, height: 300, crop: :fill %>');">
  <h3>Table <%= sitting_area.sitting_area_number %></h3>
  <%= link_to restaurant_path(restaurant), class: "text-decoration-none text-white restoname text-white" do %>
    <%= restaurant.name %>
  <% end %>
</div>
