<h1>Bienvenu dans hurry up !!</h1>
<h3>Vous êtes employé de : </h3>
<div class="d-flex flex-column align-items-start">
  <% @restaurants.each do |restaurant|%>
    <div>
      <%= link_to "#{restaurant.name}", assign_restaurant_path(restaurant: restaurant.id), class: 'btn btn-secondary' %>
    </div>
  <% end %>
</div>
<%= link_to "Nouveau Restaurant", new_restaurant_path, class: 'btn btn-primary' %>
