.back-btn {
  background-color: $purple;
  color: white;
  border: none;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  text-align: center;
  margin-left: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  z-index: 1000;
}
