.icone-item {
  display: flex;
  align-items: center;
  justify-content: center;
  > img {
    width:85px;
  }
  // position: absolute;
  // height:85px;
  // bottom: -44px;
  // left: 50%;
  // transform: translateX(-50%);
  // width: 80%;
  // text-align: center;

  // padding: 0.3rem 0rem;
}

.number {
  flex: 0 0 35px;
  width: 35px;
  text-align: center;
}

.category-item-number {
  flex: 0 0 95px;
  margin-right: 0.4rem;
}
