.pending-orders {
  box-shadow: 0px 4px 16px rgba(255, 255, 255, 0.2);
  padding-top: 0.5rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(232, 229, 229);
  border-top: 1px solid $hurry-grey ;
  span {
    border-radius: 50%;
    i {
      color: white;
      position: relative;
      top: 2px;
    }
  }
  span.collapsed {
    transform: scale(-1);
  }
  .pending-order {
    margin: 1rem 0;
  }
  .pending-order:not(:last-child) {
    border-bottom: 1px solid $hurry-grey;
    padding-bottom: 1rem;
  }
}

.btn-update {
  margin-left: 5px;
  font-size: 16px;

}
